.app {
    padding: 10px;
    margin: 0 auto;
    max-width: 40em;
}

.selectedDate {
    text-align: center;
}

.selectedDate button {
    margin: 0 5px;
}

.logoutButton {
    float: right;
}

.offlineMarker {
    float: right;
}