.app {
    padding: 10px;
    margin: 0 auto;
    max-width: 40em;
}

.selectedDate {
    text-align: center;
}

.selectedDate button {
    margin: 0 5px;
}

.logoutButton {
    float: right;
}

.offlineMarker {
    float: right;
}

.dayStatistic {
    float: left;
    /*text-align: right;*/
    letter-spacing: 2px;
}


.positiveCount {
    color: #0f0;
}

.negativeCount {
    color: #f00;
    padding-left: 0.5em;
}

.dialog {
    background: white;
    border: silver 1px solid;
    border-radius: 5px;
    padding: 10px;
    max-width: 13em;
    margin: 50px auto;
    background: #ffa;
    line-height: 1.5em;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.4);
}

.dialog button {
    float: right;
}

.dialog label {
    padding-right: 0.5em;
}