.habit {
    background: #ffa;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    overflow: hidden;
}

.habit .habit {
    padding: 0 0 0 10px;
}

.habitButtons {
    margin: 0px 5px;
    float: right;
}

.editModeCheckbox {
    float: right;
}